@import "tailwindcss";

/* Definimos las variables para los colores de fondo y texto */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Estilos para el tema oscuro */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Aplicamos los colores en el body para el modo claro y oscuro */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.btn-foreground {
  color: #ffffff !important; /* Siempre blanco */
}