@import "tailwindcss";

/* Definimos las variables para los colores de fondo y texto */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Estilos para el tema oscuro */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Aplicamos los colores en el body para el modo claro y oscuro */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.btn-foreground {
  color: #ffffff !important; /* Siempre blanco */
}

/* Personalización del scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #4fd1c5; /* Color teal (text-teal-600) */
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2b6cb0; /* Un tono más oscuro para el hover */
}

::-webkit-scrollbar-button {
  background-color: #f1f1f1;
}

/* Opcional: Personalizar la barra de scroll cuando se pasa por encima */
::-webkit-scrollbar-thumb:active {
  background-color: #2b6cb0;
}


.imgAboutMe{
 border-radius: 40%;
}